/* Font-family: Nunito 700
red: #e01e3c;
black: #161616;
white: #ffffff;


 */

 /* General Styles */
h1, h2, h3 {
    font-family: 'Nunito Sans', sans-serif;

}

h1 {
    font-size: 70px;
    font-weight: 700;
}

h2 {
    font-size: 50px;
    font-weight: 700;
}

h3 {
    font-size: 36px;
    font-weight: 700;
}

p {
    font-family: sans-serif;
}

.button {
    font-family: 'Oswald', sans-serif;
    font-weight: 900;
    font-size: 12px;
    background: red;
    color: white;
    padding: 10px 45px;
    text-transform: uppercase;
    margin: 10px;
    border-radius: 40px;


}

.red-button {
    background: #e01e3c;
    color: #ffffff;
    border: 2px solid #e01e3c;
}

.light-button {
    background: transparent;
    color: #ffffff;
    border: 2px solid #999;
}

.dark-button {
    color: #161616;
    background: transparent;
    border: 2px solid #999;
}

.button a:hover {
    opacity: 80%;
    text-decoration: none;
}

header {
    height: 80px;
    background: #161616;
    padding-top: 20px;
    width: 100%;
}

header .logo {
    background-image: url('../img/logo.svg');
    height: 40px;
    width: 40px;
    background-size: 40px;
}

ul {
    padding: 0;

li {
    list-style: none;
}

a {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;

}

h4 {
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.desktop-nav {
    display: inline-block;
}

.desktop-nav .logo {
    /* insert an image here */
    float: left;

}

.desktop-nav ul {
    background: black;
    float: right;
    margin: 10px 0;
    padding: 0;
    width: calc(100% - 40px);
    text-align: right;

}

.desktop-nav li {
    display: inline-block;
    margin: 0 30px;

}

.desktop-nav a {
    color: white;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    text-transform: uppercase;

}

.desktop-nav a:hover {
    opacity: 80%;
    text-decoration: none;
    color: plum;
}

/* Mobile Nav Styles */
.mobile-nav {
    display: none;
    text-align: center;
    vertical-align: top;
}

.mobile-nav .logo {
    /* insert an image here */
    display: inline-block;
}

.mobile-nav .hamburger-container,
.mobile-nav .search-container {
    width: 40px;
    margin-left: -4px;
    margin-top: 8px;
    vertical-align: top;
    background: white;
}

.mobile-nav .hamburger-container {
    float: left;
}

.mobile-nav .hamburger-container {
    float: right;
}

.mobile-nav .logo-container {
    display: inline-block;
    width: calc(100%-80px);
    margin-left: -4px;
}

.mobile-nav button {
    background: transparent;
    border: none;
    color: white;
}


@media (max-width: 768px) {
    .mobile-nav {
        display: block;
    }

    .desktop-nav {
        display: none;
    }

    .hero {
        background-image: url('../img/hero-small.jpg');
    }

    .mobile-hero-text {
        display: inline-block;
    }

    .desktop {
        display: none;
    }
}

/* Hero Styles */

.hero {
    height: calc(100vh - 80px);
    background: #111;
    background-image: url('../img/hero-large.jpg');
    background-size:cover;
    color: white;
    text-align: center;

}

.hero h1 {
    font-weight: 900;
}

.hero-text-container h1 {
    margin-bottom: 15px;

}

.hero-text-container p {
    margin-bottom: 35px;


}

.hero-text-container {
    padding-top: 50vh;

}

.mobile-hero-text {
    display: none;
}

/* Product Lineup Styles */
.product-lineup-container {
    height: 400px;
    background: #222;
}


/* Featured Product Styles */
.featured-product-container {
    height: 400px;
    background: #333;
}


.product-support-container {
    height: 400px;
    background: #444;
}


.subscription-container {
    height: 400px;
    background: #555;
}

footer a {
    color: #999;
    font-size: 0.9em;
    line-height: 1.5;
}

.social-icons li {
    display: inline-block;
    margin-right: 7px;

}
